body {
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  font-size: 18px;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.header {
  position: fixed;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.header__heading {
  font-size: 26px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100vw - 20px);
}
.nav__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__current li {
  padding-right: 20px;
}
.nav__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__projects li {
  padding-left: 20px;
}
.nav__next {
  display: none;
}
.nav--mobile {
  display: none;
}
.nav--mobile__projects {
  position: fixed;
  right: 10px;
  margin-top: 30px;
  text-align: right;
}
.nav--mobile__projects li {
  padding-bottom: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-top: 0px;
}
.content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100vw - 20px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__nav a {
  text-decoration: none;
}
.content__nav--mobile {
  display: none;
}
.content__nav--mobile li {
  cursor: pointer;
}
.content__nav--portrait {
  display: none;
}
.content__nav--portrait li {
  cursor: pointer;
}

.info {
  position: absolute;
  top: 100px;
  left: 10px;
}
.info__container {
  height: calc(100vh - 105px);
  width: calc(100vw - 238.75px);
  padding-bottom: 5px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}
.info__container--paris li {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}
.info__container--japon li {
  height: 22.5px;
}

.documents__link {
  cursor: pointer;
  text-decoration: underline;
}
.documents__doc {
  display: none;
  position: fixed;
  z-index: 2;
}

.thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100px;
  left: 10px;
  width: calc(100vw - 10px);
}
.thumbnails__overview {
  width: calc(80vw - 60px);
  padding-right: 10px;
}
.thumbnails__overview img {
  height: 100px;
  margin-bottom: 20px;
  border: 0.5px solid transparent;
}
.thumbnails__overview img:hover {
  border: 0.5px solid black;
}
.thumbnails__image {
  position: fixed;
  top: 100px;
  right: 10px;
  width: 20vw;
}

.content--paris {
  cursor: move;
}
.content--paris img {
  height: 233vh;
}

.content--sud img {
  height: 100vh;
}
.content--sud img:first-child {
  margin-left: calc(100vw - 68.86vh);
}

.content--japon {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.content--japon--portrait {
  display: none;
  height: 100vh;
}
.content--japon--portrait__image {
  position: fixed;
}
.content--japon--portrait__container {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.content--japon--portrait__container--blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.content--japon--portrait__container--hidden {
  display: none;
  position: fixed;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slide img {
  height: 90vh;
}
.slide__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  width: 63vh;
}
.slide__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
}
.slide__button--prev {
  cursor: w-resize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slide__button--next {
  cursor: e-resize;
}

.dragscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.dragscroll::-webkit-scrollbar {
  display: none;
}
.dragscroll img {
  height: 200%;
}
.dragscroll--small {
  height: 42vh;
  width: 36vh;
}
.dragscroll--big {
  height: 70vh;
  width: 60vh;
}

.caption {
  position: absolute;
  right: 10px;
  bottom: 65px;
  font-size: 18px;
  text-align: right;
}

@media screen and (max-aspect-ratio: 10/8) {
  .slide img {
    height: 100%;
    width: 50vw;
  }
}
@media screen and (orientation: portrait) {
  .content--japon {
    display: none;
  }

  .content--japon--portrait {
    display: block;
  }

  .caption {
    display: none;
  }

  .content__nav--mobile {
    display: none;
  }

  .content__nav--portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 2000px) {
  .info__container {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
@media screen and (max-width: 1600px) {
  .header__heading {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 1400px) {
  .content__nav--desktop, .thumbnails__image {
    display: none;
  }

  .content__nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .thumbnails__overview {
    width: 100vw;
  }

  .info__container {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
@media screen and (max-width: 800px) {
  .nav__projects, .nav__extra {
    display: none;
  }

  .nav--mobile, .nav__next {
    display: block;
  }

  .header__heading {
    font-size: 20px;
    margin-bottom: 0px;
  }

  ul li {
    font-size: 16px;
  }

  .content--sud img:first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .content__nav {
    display: none;
  }

  .content__nav--mobile {
    display: none;
  }
}