@import "./base/base";
@import "./layouts/header";
@import "./layouts/content";
@import "./layouts/info";
@import "./layouts/thumbnails";
@import "./pages/index";
@import "./pages/projet-1";
@import "./pages/projet-2";
@import "./pages/projet-3";
@import "./pages/projet-4";

@media screen and (max-aspect-ratio: 10 / 8) {
    .slide img {
        height: 100%;
        width: 50vw;
    }    
}

@media screen and (orientation: portrait){
    .content--japon {
        display: none;
    }

    .content--japon--portrait {
        display: block;
    }

    .caption {
        display: none;
    }

    .content__nav--mobile {
        display: none;
    }

    .content__nav--portrait {
        display: flex;
    }

    .content--scan__image {
        width: 100vw;
        height: auto;
    }

    .content--scan__nav--desktop {
        display: none;
    }

    .content--scan__nav--mobile {
        display: block;
    }
}

@media screen and (max-width: 2000px) {
    .info__container {
        column-count: 2;
    }
}

@media screen and (max-width: 1600px) {
    .header__heading {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1400px) {
    .content__nav--desktop, .thumbnails__image {
        display: none;
    }

    .content__nav--mobile {
        display: flex;
    }

    .thumbnails__overview {
        width: 100vw;
    }

    .info__container {
        column-count: 1;
    }
}

@media screen and (max-width: 800px) {
    .nav__projects, .nav__extra {
        display: none;
    }

    .nav--mobile, .nav__next {
        display: block;
    }

    .header__heading {
        font-size: 20px;
        margin-bottom: 0px;
    }

    ul li {
        font-size: 16px;
    }

    .content--sud img:first-child {
        margin-left: 0px;
    }

}

@media screen and (max-width: 600px) {
    .content__nav {
        display: none;
    }
    
    .content__nav--mobile {
        display: none;
    }
}

@media screen and (max-height: 1025px) {
    .content--scan__nav--desktop {
        display: none;
    }

    .content--scan__nav--mobile {
        display: block;
    }
}