.content--index {
    &__image {
        display: none;
        position: fixed;
        &--1 {
            height: 233vh;
        }
        &--2 {
            right: 0px;
            height: 100vh;
        }
        &--3 {
            left: 50vw;
            height: 90vh;
        }
        &--4 {
            top: 8vh;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            height: 70vh;
        }
    }
    &__caption {
        font-size: 104px;
        position: absolute;
        right: 10px;
        bottom: 15px;
        text-align: right;
        &--light {
            font-size: 88px;
            color: rgba(0,0,0,0.2);
            position: relative;
            top: -35px;
        }
    }
}

footer {
    display: none;
    padding-bottom: 10px;
    padding-left: 10px;
    ul {
        display: flex;
        li {
            font-size: 1.625rem;
            padding-right: 20px;
        }
    }
    @media screen and (max-width: 800px) {
        display: block;
    }
}