.content {
    &--projet-2 {
        display: flex;
        overflow-x: auto;
        margin-top: 0px;
        img {
            height: 100vh;
            &:first-child {
                margin-left: calc(100vw - 68.86vh);
            }
        }
    }
}