.content {
    &--scan {
        &__container {
            height: 88vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image {
            height: 70vh;
            width: auto;
        }
        &__nav {
            position: fixed;
            top: 0;
            right: 10px;
            text-align: right;
            &__on {
                &:hover {
                    color: black;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            &--desktop {
                color: rgba(0,0,0,0.1);
                height: 88vh;
                display: block;
                padding-top: 20px;
                overflow-y: auto;
                li {
                    font-size: 8.25vh;
                }
                @media screen and (max-width: 1400px) {
                    display: none;
                }
            }
            &--mobile {
                display: none;
                top: 80px;
                font-size: 36px;
                @media screen and (max-width: 1400px) {
                    display: block;
                }

            }
        }
        &__caption {
            position: fixed;
            left: 10px;
            bottom: 15vh;
            height: 48px;
            @media screen and (max-width: 600px) {
                bottom: 13vh;
            }
            &--folder {
                font-size: 24px;
                color: rgba(0,0,0,0.3);
                @media screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }
            &--current {
                position: relative;
                top: -10px;
                font-size: calc(20px + 1.75vh);
                @media screen and (max-width: 600px) {
                    font-size: 18px;
                    top: unset;
                }
            }
        }
        &__footer {
            display: flex;
            position: fixed;
            bottom: 0;
            overflow-x: scroll;
            height: 10vh;
            width: 100vw;
            padding-bottom: 10px;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
}