.content {
    &--projet-3 {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        &__nav {
            position: fixed;
            bottom: 1.9vh;
            display: flex;
            justify-content: space-between;
            width: 69.45vh;
            font-size: 18px;
            font-weight: 300;
            line-height: 0.75;
            &--1 {
                right: calc(50vw + 1.79vh);
            }
            &--2 {
                left: calc(50vw + 1.82vh);
            }
        }
    }
}

.slide {
    display: flex;
    justify-content: center;
    &__page {
        box-sizing: border-box;
        position: relative;
        @include flex-center;
        width: 69.3vh;
        height: 96.2vh;
        margin: 1.9vh;
        border-top: 1px solid rgba(255, 79, 255, 0.5);
        border-bottom: 1px solid rgba(255, 79, 255, 0.5);
        border-left: 1px solid rgba(153, 51, 255, 0.5);
        border-right: 1px solid rgba(153, 51, 255, 0.5);
        @media screen and (max-height: 1000px) {
            border-top: 1px solid rgba(255, 79, 255, 0.3);
            border-bottom: 1px solid rgba(255, 79, 255, 0.3);
            border-left: 1px solid rgba(153, 51, 255, 0.3);
            border-right: 1px solid rgba(153, 51, 255, 0.3);
        }
        &--halftone {
            width: 79.325vh;
        }
    }
    &__button {
        flex-grow: 1;
        height: 100vh;
        &--prev {
            @include blue-left-arrow-head;
            display: flex;
            justify-content: flex-end;
        }
        &--next {
            @include blue-right-arrow-head;
        }
    }
    &__container {
        width: 75.525vh;
        height: 88.1125vh;
        overflow: auto;
        -ms-overflow-style: none;  
        scrollbar-width: none;  
        &::-webkit-scrollbar {
            display: none;
        }
        &--right {
            direction: rtl;
        }
        &--bottom {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__image {
        &--big {
            width: 57.75vh;
            height: auto;
            @include black-minus;
            &--halftone {
                width: 113.2875vh;
                height: auto;
                @include black-minus;
            }
        }
        &--small {
            width: 38.5vh;
            height: auto;
            @include black-plus;
            &--halftone {
                width: 100%;
                height: auto;
                @include black-plus;
            }
        }
    }
    &__caption {
        position: absolute;
        height: 100vh;
        margin: 0;
        font-family: 'EB Garamond', serif;
        writing-mode: sideways-rl;
        text-align: center;
        font-size: calc(16px + 0.2vh);
        font-weight: 100;
        &--left {
            left: 0;
            line-height: 0.7;
        }
        &--right {
            right: 0;
            line-height: 0.15;
        }
    }
    a:hover {
        color: black;
    }
}

.line {
    position: fixed;
    left: 50vw;
    top: 0;
    width: 0.5px;
    height: 100vh;
    background-color: $color-primary;
}