.header {
    position: fixed;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100vw - 20px);
    &__upper {
        display: flex;
        justify-content: space-between;
        li {
            font-size: 26px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
    &__heading {
        font-size: 26px;
        font-weight: 100;
        margin-top: 5px;
        margin-bottom: 10px;
        text-decoration: underline;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    &__current {
        display: flex;
        li {
            padding-right: 20px;
            position: relative;
            top: -20px;
            font-size: calc(26px + 0.95vh);
            color: rgba(0,0,0,0.3);
            span {
                visibility: hidden;
            }
            a {
                color: rgba(0,0,0,0.3);
                text-decoration: none;
                &::after {
                    content: ".";
                    visibility: hidden;
                }
                &:hover {
                    &::after {
                        visibility: visible;
                    }
                }
            } 
            @media screen and (max-width: 500px) {
                font-size: 26px;
            }      
        }
        &--off {
            text-decoration: line-through;
        }
    }
    &__global {
        display: flex;
        li {
            padding-left: 20px;
        }
        &__section {
            text-decoration: underline;
            cursor: pointer;
            &--hidden {
                display: none;
            }
        }
    }
    &__next {
        display: none;
    }
    &--mobile {
        display: none;
        &__projects {
            position: fixed;
            right: 10px;
            margin-top: 30px;
            text-align: right;
            li {
                font-size: 26px;
                padding-bottom: 10px;
            }
        }
    }
}